<!DOCTYPE html>
<html>
<head>
  <title>COVID-19 Misinformation Classifier</title>
</head>
<body>

<div style="text-align:center; position:relative; top:100px;">

<h2>Does this Reddit post title contain COVID-19 Misinformation?</h2>
<p>Submit a Reddit post title and see what we think!</p>

<form action="/classify" method = "post" autocomplete="off">
<!--   <label for="PostTitle">Post Title:</label><br>
 -->  <input type="text" id="PostTitle" name="PostTitle" size="50">
  <input type="submit" value="Submit">
</form>
</div>

</body>
</html>
